# MySQL credentials
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=

# Database connection
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# External API
POKEAPI_BASE_URL=
POKEAPI_TIMEOUT=

# Server
HOST=
PORT=
WORKERS=